*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Inter', sans-serif;
}

body{
    min-height: 100vh;
    background: url("../../assets/background-desktop.png") center/cover no-repeat;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;

}

.desktop-container{
    display: grid;
    grid-template-rows: repeat(auto-fill, 120px);
    grid-auto-columns: 120px;
    grid-auto-rows: 120px;
    grid-auto-flow: row; /*Preenche coluna primeiro*/
    padding: 30px;
    height: 100%;
}

