.taskbar-btn{
    background: transparent;
    border: none;
    color: var(--icons);
    cursor: pointer;
    transition: all .1s ease;
    padding: 8px;
}

.taskbar-btn:hover{
    background: var(--icons-hover);
    border-radius: 8px;
    color: white;
}

.desktop-btn{
    background: transparent;
    border: none;
    color: var(--icons);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100px;
    width: 100px;

    box-sizing: border-box;

    margin: 0;
}

.desktop-btn:hover{
    background: var(--icons-hover);
    border-radius: 8px;
}

.desktop-btn svg{
    height: 40px;
    width: 40px;
    padding: 0;
    margin-bottom: 10px;
}
